body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #283136;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
  }  

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.main-header {
    background-color: #eeeeee;
}

.main-logo {
    margin-right: 20px;
}

.main-navigation {
    display: flex;
    justify-content: space-between;

    padding-top: 49px;
}

.site-navigation,
.user-cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.site-navigation a,
.user-cart a {
    display: block;
    padding: 25px 20px;

    vertical-align: middle;
    margin-bottom: 20px;
}


.user-cart a {
    padding-right: 0;
    padding-left: 50px;
}

.main-navigation a {
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.inner-heading {
    font-size: 55px;
    line-height: 55px;
    color: #000000;
}

.slide-inside b {
    font-size: 55px;
    line-height: 55px;
    color: #000000;
}

.btn {
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;

    background-color: #fb565a;
}

.product-item h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.products-list {
    display: flex;
    justify-content: flex-start;
}

.nerds-story {
    display: flex;
    justify-content: space-between;
}

.lead-description {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    color: #000000;
}

.nerds-works {
    text-transform: uppercase;
}

.statistics th {
    font-weight: 700;
    color: #000000;
}

.statistic-numbers {
    font-size: 45px;
    line-height: 10px;
    font-weight: 700;
    color: #000000;
}

.statistic-description {
    line-height: 16px;
}

.our-clients {
    display: flex;
    justify-content: center;
}

.inner-content {
    display: flex;
    justify-content: space-between;
}

.catalog-details p {
    display: none; /*Временно, чтобы не ломать верстку*/
}

.filter legend,
.sorting-menu p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.sorting-menu a {
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    color: #000000;
}

.price-controls label {
    line-height: 22px;
}

.filter-option label {
    font-size: 18px;
    line-height: 20px;
}

.form-button {
    color: #000000;
    background-color: #eeeeee;
}


.sorting-menu {
    display: flex;
    justify-content: flex-start;
}

.sorting-options {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sorting-options li {
    margin-right: 10px;
    margin-bottom: 10px;
}

.sorting-order {
    display: flex;
    justify-content: space-between;
}

.catalog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog-details h3 {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.catalog-details p {
    line-height: 18px;
    color: #666666;
}

.pagination-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
}

.pagination-item {
    background-color: #eeeeee;
    margin-right: 10px;
    margin-bottom: 10px;
}

.pagination-item:last-child {
    margin-right: 0;
}

.pagination-item a {
    display: block;
    padding: 20px;
    line-height: 18px;
    text-decoration: none;
    color: #000000
}

.pagination-item-current {
    background-color: transparent;
}

.pagination-item-current a {
    padding: 17px;
    
    border: 3px solid #eeeeee;
}

.pagination-item-next a {
    padding: 20px 75px;
}

.contact-us address {
    font-style: normal;
}

.contact-us-name {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.phone {
    text-decoration: none;
    color: inherit;
}

.footer-social {
    display: flex;
    justify-content: space-between;
}

.footer-social p{
    line-height: 22px;
}
.footer-social b {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
}

.social-links {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.social-links li {
    margin-right: 10px;
    margin-bottom: 10px;

    font-size: 0;
    
    background-color: #e1e1e1;
}

.modal {
    display: none;
}

.contact-item label{
    line-height: 18px;
    font-weight: 700;
}

.contact-item input, 
.contact-item textarea {
    line-height: 18px;
}