body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #283136;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
  }  

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.main-header {
    background-color: #eeeeee;
}

.main-logo {
    margin-right: 20px;
}

.main-navigation {
    display: flex;
    justify-content: space-between;

    padding-top: 49px;
}

.main-navigation a {
    margin: 0;
    padding: 0;
}

.site-navigation,
.user-cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.site-navigation a,
.user-cart a {
    display: block;
    padding: 26px 39px 25px 6px;
    padding-bottom: 0;
    
    vertical-align: middle;
}

.user-cart a {
    position: relative;

    padding-right: 0;
    padding-left: 50px;
}

.user-cart a:before {
    position: absolute;
    top: 33px;
    left: 9px;
  
    width: 15px;
    height: 15px;
  
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
  
    content: "";
}

.main-navigation a {
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.heading-wrapper {
    padding-top: 68px;
    padding-bottom: 109px;

    background-color: #eeeeee;
}

.inner-heading {
    margin: 0;
    padding: 0;

    text-align: center;
    font-size: 55px;
    line-height: 55px;
    color: #000000;
}

.btn {
    display: block;
    padding: 16px 0;
    
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    
    background-color: #fb565a;
    border-radius: 3px;
    border: none;
}

.slider-item-btn {
    width: 240px;
}

.product-item-btn {
    margin-top: 16px;
    width: 160px;
    padding: 17px 0 15px 0;
}

.product-item:nth-child(2) .product-item-btn {
    background-color: #00ca74;
}

.product-item:nth-child(3) .product-item-btn {
    background-color: #efc84a;
}

.contact-us-btn {
    padding: 16px 0;
    width: 100%;
}

.slider {
    position: relative;

    background-color: #eeeeee;
}

.slider-item {
    display: none;
  }

.slider-item h3 {
    max-width: 600px;
    margin: 0;
    margin-bottom: 27px;

    font-size: 55px;
    line-height: 55px;
    font-weight: 600;
}  

.slider-item p {
    max-width: 430px;
    margin: 0;
    margin-bottom: 40px;
}

.slider-controls {
    position: absolute;
    left: 50%;
    bottom: 104px;
    z-index: 100;
    
    width: 160px;
    height: 18px;
  
    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
}

.slider-controls label {
    position: relative;
    
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;
    
    border-radius: 50%;
    cursor: pointer;
  }
  
  .slider-controls label::after {
    content: "";
    
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    
    width: 18px;
    height: 18px;
    
    background: #ffffff;
    
    border-radius: 50%;
  }

.slider-controls .active::before {
    content: "";
    
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    
    width: 4px;
    height: 4px;
    margin: -4px;
    
    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

.slider-item {
    display: none;
    padding: 68px 0 79px 0;
  }

.slider-item:nth-child(1) {
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    background-position: 93% 8px;
}

.slider-item:nth-child(2) {
    background-image: url("../img/slide2.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.slider-item:nth-child(3) {
    background-image: url("../img/slide3.png");
    background-repeat: no-repeat;
    background-position: 100% 20px;
}


#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
    display: block;
}
  
#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
    display: block;
}
  
#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
    display: block;
}
  
#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 4px;
    height: 4px;
    margin: -4px;
    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

.products {
    border-bottom: 2px solid #eeeeee;
}

.products-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 81px;
}

.product-item {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin-right: 100px;
    margin-bottom: 81px;
}

.product-item:last-child {
    margin-right: -100px;
}

.product-item img {
    order: -1;
}

.product-item h3 {
    padding: 0;
    margin: 0;
    margin-top: 25px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.nerds-story {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;

    box-sizing: border-box;
    border-bottom: 2px solid #eeeeee;
}

.about-us {
    width: 660px;
    padding-top: 35px;
}

.lead-description {
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    color: #000000;
}

.nerds-description {
    margin-bottom: 38px;
}

.nerds-works {
    font-weight: 700;
    text-transform: uppercase;
}

.work-options {
    padding: 9px 0;
}

.work-options li {
    position: relative;
    padding-left: 36px;
    padding-bottom: 24px;
}

.work-options li:before {
    position: absolute;
    top: 10px;
    left: 0px;

    width: 25px;

    border-bottom: 3px solid #fb565a;

    content: "";
}

.work-preview {
    position: relative;
    padding-top: 40px;
}

.work-preview:before {
    position: absolute;
    z-index: 999999;

    top: 0;
    left: 0;

    width: 360px;
    height: 40px;
    
    content: url(../img/browser.svg);
    opacity: 0.3;
}

 .work-preview:hover:before{
    opacity: 1;
}

.statistics {
    width: 360px;

}

.statistics th {
    margin: 0;
    padding: 0;
    padding:28px 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
}

.statistic-numbers {
    font-size: 45px;
    line-height: 10px;
    font-weight: 700;
    color: #000000;
}

.statistic-numbers td {
    width: 110px;
    padding: 30px 0;
}

.statistic-numbers sup {
    top:-15px;

    font-size: 25px;
}

.statistic-description td {
    margin: 0;
    padding: 0;
    padding-top: 5px;

    line-height: 16px;
}

.our-clients {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 47px;
    padding-bottom: 36px;
    margin-bottom: 81px;
    box-sizing: border-box;
    border-bottom: 2px solid #eeeeee;
}

.our-clients li {
    display: flex;
    justify-content: center;
    width: 280px;
    padding-left: 0px;
    margin-right: 10px;
}

.our-clients li:first-child {
    margin-left: -10px;
    margin-top: 7px;
}

.our-clients li:last-child {
    margin-right: -10px;
    margin-top: 5px;
}

.our-clients img {
    opacity: 0.2;
}

.inner-content {
    display: flex;
    justify-content: space-between;
}

.catalog-details {
    padding-bottom: 45px;
    background-color: #eeeeee;
}

.filter legend,
.sorting-menu p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.sorting-menu a {
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    color: #000000;
}

.filter-item {
    margin: 0;
    padding: 0;
    
    border: none;
}

.range-filter {
    width: 260px;
    margin-top: 49px;
}

.range-controls {
    position: relative;

    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    
    background-color: #f1f1f1;
    
    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;
  
    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
  
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;

    width: 4px;
    height: 4px;
    padding: 0;
  
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}

.price-controls label {
    display: inline-block;
    width: 50%;

    font-size: 16px;
    text-transform: uppercase;
}

.price-controls {
    font-size: 0;
}

.price-controls input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 10px;

    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;

    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.max-price {
    text-align: right;
}

.range-controls .toggle-min {
    left: 18px;
}
  
  .range-controls .toggle-max {
    left: 160px;
}

.price-controls label {
    line-height: 22px;
}

.filter-option label {
    font-size: 18px;
    line-height: 20px;
}

.form-button {
    width: 100%;
    color: #000000;
    background-color: #eeeeee;
}


.sorting-menu {
    display: flex;
    justify-content: flex-start;
}

.sorting-menu p {
    padding: 0;
    margin: 0;
}

.sorting-options {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.sorting-options li {
    margin-right: 10px;
    margin-bottom: 10px;
}

.sorting-order {
    display: flex;
    justify-content: space-between;
}

.catalog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} 

.work-preview{
    position: relative;
}

.work-preview:hover .catalog-details {
    display: block;
}

.catalog-details {
    display: none;
    position: absolute;
    bottom: 7px;
    z-index: 999;

    width: 360px;
    padding: 35px 80px;

    background-color: #eeeeee;
    box-sizing: border-box;
}

.catalog-details h3 {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.catalog-details p {
    line-height: 18px;
    color: #666666;
}

.pagination-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
}

.pagination-item {
    background-color: #eeeeee;
    margin-right: 10px;
    margin-bottom: 10px;
}

.pagination-item:last-child {
    margin-right: 0;
}

.pagination-item a {
    display: block;
    padding: 20px;
    line-height: 18px;
    text-decoration: none;
    color: #000000
}

.pagination-item-current {
    background-color: transparent;
}

.pagination-item-current a {
    padding: 17px;

    border: 3px solid #eeeeee;
}

.pagination-item-next a {
    padding: 20px 75px;
}

.map-contact {
    position: relative;
    width: 100%;
    height: 416px;
    overflow: hidden;
}

.map-contact img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
    z-index: 1;
}
 
.contact-us {
    position: absolute;
    width: 320px;
    top: 0;
    margin-top: 54px; 
    padding: 50px 50px;
    padding-bottom: 46px;
    box-sizing: border-box;
    background-color: #ffffff;
    z-index: 2;
}

.contact-us address {
    padding-bottom: 22px;
    color: #666666;
    font-size: 16px;
    line-height: 18px;
    font-style: normal;
}

.address-text {
    display: block;
    margin-top: 22px;
    margin-bottom: 18px;
}

.contact-us-name {
    padding: 0;
    margin: 0;

    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.phone {
    text-decoration: none;
    color: inherit;
}

.main-footer {
    margin-top: 68px;
}

.footer-social {
    display: flex;
    justify-content: flex-start;
}

.footer-social p{
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-left: 0px;
    line-height: 22px;
}
.footer-social b {
    display: block;
    margin-bottom: 11px;

    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
}

.social-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
    flex-wrap: wrap;
    width: 400px;
}

.social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    margin:0;
    padding:0;
    margin-right: 13px;
    margin-bottom: 10px;
    
    font-size: 0;
    
    border-radius: 50%;
    background-color: #e1e1e1;
}

.modal {
    display: none;
}

.contact-item label{
    line-height: 18px;
    font-weight: 700;
}

.contact-item input, 
.contact-item textarea {
    line-height: 18px;
}

.filter-option {
    margin-left: 34px;
    margin-bottom: 20px;
  }
  
  .filter-option label {
    position: relative;
  
    display: block;
  
    cursor: pointer;
    user-select: none;
  }
  
  .input-checkbox:not(:checked) + label::before {
    position: absolute;
    top: -2px;
    left: -34px;
  
    width: 23px;
    height: 23px;
  
    background: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    opacity: 0.2;
  
    content: "";
  }
  
  .input-checkbox:hover + label::before {
    opacity: 0.3;
  }
  
  .input-checkbox:checked + label::after {
    position: absolute;
    top: -2px;
    left: -34px;
  
    width: 25px;
    height: 25px;
  
    background: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    opacity: 0.2;
  
    content: "";
  }
  
  .input-checkbox:checked:hover + label::after {
    opacity: 0.3;
  }
  
  .input-radio:not(:checked) + label::before {
    position: absolute;
    top: -3px;
    left: -35px;
  
    width: 25px;
    height: 25px;
  
    background: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    opacity: 0.3;
  
    content: "";
  }
  
  .input-radio:checked + label::after {
    position: absolute;
    top: -3px;
    left: -35px;
    
    width: 27px;
    height: 25px;
  
    background: url("../img/radio-on.svg");
    background-repeat: no-repeat;
    opacity: 0.3;
  
    content: "";
  }
  
  .filter-input-radio:hover + label::before {
   opacity: 0.4;
  }
  
  .filter-input-radio:checked:hover + label::after {
    height: 25px;
    width: 25px;
    opacity: 0.4;
  }
  
  .input-radio:disabled + label::before,
  .input-checkbox:disabled + label::before,
  .input-radio:disabled + label::after,
  .input-checkbox:disabled + label::after,
  .input-radio:checked:disabled + label::before,
  .input-checkbox:checked:disabled + label::before,
  .input-radio:checked:disabled + label::after,
  .input-checkbox:checked:disabled + label::after {
    opacity: 0.1;
  }
  
  .input-radio:disabled + label,
  .input-checkbox:disabled + label {
    color: #c5c5c5;
  }
  